body {	
    font-family: arial, sans-serif;
    background-image: url(../image/0010.jpg);
    background-size: cover ;
    background-attachment: fixed;
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;

}

header{
	background: black;
}
.rewiew{
	font-size: 80px;
	text-align: center;
	color: white;
    margin-top: 50px;   

}
